# Application
NODE_ENV=development
PORT=3000
GLOBAL_PREFIX=api/v1
JWT_SECRET=supersecretkeythatshouldbeproductiongrade

# Database (PostgreSQL)
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=task_management_db

# Redis (for Caching and Rate Limiting)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=3600 # Cache TTL in seconds

# Throttler (Rate Limiting)
THROTTLER_TTL=60 # seconds
THROTTLER_LIMIT=100 # requests per TTL