NODE_ENV=development
PORT=5000

DATABASE_URL="postgresql://user:password@db:5432/ecommerce_db"
TEST_DATABASE_URL="postgresql://user:password@db:5432/ecommerce_test_db" # If running tests locally against docker compose, use same port

JWT_SECRET=supersecretjwtkey # CHANGE THIS IN PRODUCTION
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30

BCRYPT_SALT_ROUNDS=10

REDIS_URL="redis://redis:6379"

CORS_ORIGIN=http://localhost:3000 # Frontend URL

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=adminpassword # CHANGE THIS IN PRODUCTION

# Set to 'true' to run seeds on server startup in development. ONLY FOR DEV!
RUN_SEEDS=false