```
# Backend Configuration
SERVER_PORT=8080
JWT_SECRET=supersecretjwtkeyforperfometrics # CHANGE THIS IN PRODUCTION!
RATE_LIMIT_MAX_REQUESTS=100
RATE_LIMIT_WINDOW_SECONDS=60 # in seconds

# Database Configuration
DB_HOST=perfo-metrics-db
DB_PORT=5432
DB_NAME=perfo_metrics_db
DB_USER=perfo_user
DB_PASSWORD=perfo_password # CHANGE THIS IN PRODUCTION!

# Frontend Configuration
REACT_APP_API_BASE_URL=http://localhost:80/api # Nginx proxy
```